<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline">Airline:</label>
    <select id="airline" name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <option value="Emirates">Emirates</option>
      <option value="Delta">Delta</option>
    </select>
    <label for="airport">Airport:</label>
    <select id="airport" name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
      <option value="CLE">CLE</option>
      <option value="HUS">HUS</option>
      <option value="WAS">WAS</option>
      <option value="DEN">DEN</option>
    </select>
    <label for="flightNo">Flight #:</label>
    <input type="number" placeholder="1 - 9999" name="flightNo" id="flightNo-input" min="1" max="9999">
    <label for="airport">Departure Date:</label>
    <input type="date" name="departs" id="departs-input">

    <button type="submit">Add Flight</button>
  </form>
</main>

<%- include("../partials/footer") %>